* {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: rgb(31, 31, 31);
}

body {
  margin:0;
  padding:32px;
  background-color: rgb(255, 255, 255);
}

.container{
  display: flex;
}
.fixed{
  width: 300px;
}
.flex-item{
  flex-grow: 1;
}
